#page-general, .hidden{
    visibility: inherit !important;
}
div label{
    display: inline;
}
.slide_wrapper_inside {
    width: 800px;
    display: block;
    overflow: hidden;
    
}
.nivo-100{
    width: 100%;    
     overflow: hidden;
}

html ._4lh, ._4lh .fbTimelineScrubber, ._4lh .fbTimelineTimePeriod, ._4lh .fbTimelineSectionExpandPager .uiMorePagerLoader, ._4lh .fbTimelineCapsule li.anchorUnit:last-child, ._4lh .fbTimelineSectionLoading .loadingIndicator, ._4lh .fbTimelineTwoColumn .composerVeil, ._4lh .timelineTourStarted .contextualBlind, ._4lh .lifeEventAddPhoto:hover {
    background-color: #E9EAED;
}
.timelineLayout {
    background: none repeat scroll 0 0 #E7EBF2;
}
body {
    overflow-y: scroll;
}
body, button, input, label, select, td, textarea {
    font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
    font-size: 11px;
}
body {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #333333;
    direction: ltr;
    line-height: 1.28;
    margin: 0;
    padding: 0;
    text-align: left;
    unicode-bidi: embed;
}
.component_footer {
    color: #666666;
    display: block;
    clear: both;
    min-height: 20px;
    padding-right: 10px;
    padding-top: 10px;
    text-align: right;
}
/*-----------------------------------------------------------
  ------------ for tab -------------------------------------
-----------------------------------------------------------*/

div#element-box div.m {
    padding: 10px;
}
.submenu-box, div.m {
    background-color: #F4F4F4;
    border: 1px solid #CCCCCC;
    border-radius: 10px 10px 10px 10px;
}

fieldset.adminform {
    background-color: #FFFFFF;
    padding: 5px 17px 17px;
    border: 1px solid #CCCCCC;
    text-align: left;
    margin: 10px;
    overflow: hidden;
}
fieldset.adminform legend {
    color: #146295;
    font-size: 14px;
    font-weight: bold;
    width: auto;
    margin: 2px;
    border: none;
}
fieldset.adminform label, fieldset.adminform span.faux-label {
    float: left;
    display: inline-block;
    min-width: 135px;
    padding: 3px 5px 0 0;
}
fieldset.adminform fieldset.radio label, fieldset.panelform fieldset.radio label {
    clear: none;
    display: inline;
    float: left;
    padding-left: 0;
    padding-right: 10px;
}
div.width-60 {
    width: 60%;
}
div.width-40 {
    width: 40%;
}
.fltrt {
    float: right;
}
.fltlft {
    float: left;
}
.clr {
    clear: both;
    height: 0;
    overflow: hidden;
}

ul.adminformlist, ul.adminformlist li {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
input[required="required"].required {
    background-color: #D5EEFF;
}

.star {
    color: #EB8207;
    font-size: 1.2em;
}
.visual_panel select{
    width: auto;
}
.visual_panel input, .visual_panel select {
    margin-left: 4px;
    margin-right: 12px;
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid silver;
    font-size: 0.909em;
}
.row-fluid .visual_panel [class*="span"]{
    display: inline-block;
    width: auto;
    float:none;
    margin: 0 12px 0 4px;
    min-height: 0px;
}
.visual_panel input[type="radio"],.visual_panel input[type="checkbox"] {
    margin: 0 0 5px;
}
.subhead{
    margin-bottom: 0px;
    height: 45px;
}
.navbar{
}
.container-main{
    margin-top: 10px;
    padding: 0 !important;
    margin: 10px 20px;

}

.slider_visual_wrapper {
    margin-bottom: 10px;
    margin-top: 10px;
    overflow: auto;
    padding: 20px 50px 70px;
    /*max-height: 410px;*/
}
.adminlist tr th {
    border-color: #CCCCCC #F0F0F0;
    border-style: solid;
    border-width: 1px;
    padding: 4px;
    text-align: center;
}
.adminlist tbody tr td {
    border-color: #F0F0F0;
    border-style: solid;
    border-width: 1px;
    padding: 4px;
    min-width: 30px;
}
.adminlist tbody tr.row1 td {
    background-color: #EEEEEE;
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
}
#adminForm #filter-bar{
    height: auto;
}

/*------------------------------------------------
-------------------for edit slide----------------
-------------------------------------------------*/
input.text-area-order {
    margin-right: 5px;
    text-align: center;
    width: 35px;
}
.order{
    text-align: center;   
}
.order a.btn-micro {
    font-size: 10px;
    line-height: 8px;
    padding: 1px;
    margin-top: -8px;
}
.order a.btn-micro :first-child{
    font-size: 8px;
}
.visual_wrapper .visual_panel {
    height: 35px;
}